<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20002_attack_5_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{262,136}}</string>
                <key>offset</key>
                <string>{50,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,225},{262,136}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,266},{234,218}}</string>
                <key>offset</key>
                <string>{11,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,68},{234,218}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,296},{248,204}}</string>
                <key>offset</key>
                <string>{31,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,39},{248,204}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{266,192}}</string>
                <key>offset</key>
                <string>{56,183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,21},{266,192}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,236},{144,246}}</string>
                <key>offset</key>
                <string>{6,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,52},{144,246}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{216,292}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,110},{216,292}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,296}}</string>
                <key>offset</key>
                <string>{-4,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,101},{220,296}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{232,178}}</string>
                <key>offset</key>
                <string>{11,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,169},{232,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_5_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{262,134}}</string>
                <key>offset</key>
                <string>{50,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,228},{262,134}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20002_attack_5.png</string>
            <key>size</key>
            <string>{896,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b5bf4a053d589c4ec02e435a1cedbc0$</string>
            <key>textureFileName</key>
            <string>20002_attack_5.png</string>
        </dict>
    </dict>
</plist>
