<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20002_attack_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,154},{204,180}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,180},{204,180}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,150},{174,242}}</string>
                <key>offset</key>
                <string>{22,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,118},{174,242}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,154},{272,188}}</string>
                <key>offset</key>
                <string>{10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,174},{272,188}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{330,150}}</string>
                <key>offset</key>
                <string>{136,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,213},{330,150}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{330,146}}</string>
                <key>offset</key>
                <string>{138,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,216},{330,146}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,142}}</string>
                <key>offset</key>
                <string>{120,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,220},{300,142}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{244,162}}</string>
                <key>offset</key>
                <string>{93,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,199},{244,162}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20002_attack.png</string>
            <key>size</key>
            <string>{972,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c1bc9175e0523207bf18d384436ee52$</string>
            <key>textureFileName</key>
            <string>20002_attack.png</string>
        </dict>
    </dict>
</plist>
