<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20002_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,180}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,180},{204,180}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{138,152}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,214},{138,152}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20002_hurt.png</string>
            <key>size</key>
            <string>{348,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:676fd246079e7d1aad3f2f57453e1eba$</string>
            <key>textureFileName</key>
            <string>20002_hurt.png</string>
        </dict>
    </dict>
</plist>
