<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20002_skill_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,802},{204,180}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,180},{204,180}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,720},{250,166}}</string>
                <key>offset</key>
                <string>{57,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,196},{250,166}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{296,138}}</string>
                <key>offset</key>
                <string>{80,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,225},{296,138}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,580},{212,220}}</string>
                <key>offset</key>
                <string>{60,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,130},{212,220}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{224,250}}</string>
                <key>offset</key>
                <string>{-16,175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,0},{224,250}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{254,230}}</string>
                <key>offset</key>
                <string>{-84,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{254,230}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{240,234}}</string>
                <key>offset</key>
                <string>{-48,179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,4},{240,234}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,248}}</string>
                <key>offset</key>
                <string>{67,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,4},{296,248}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,252},{306,142}}</string>
                <key>offset</key>
                <string>{116,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,217},{306,142}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,228},{306,148}}</string>
                <key>offset</key>
                <string>{114,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,211},{306,148}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,264},{314,150}}</string>
                <key>offset</key>
                <string>{113,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,216},{314,150}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,560},{318,138}}</string>
                <key>offset</key>
                <string>{109,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,240},{318,138}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_skill_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{260,156}}</string>
                <key>offset</key>
                <string>{87,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,204},{260,156}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20002_skill.png</string>
            <key>size</key>
            <string>{710,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a9c435e9e5696905f12b5a3a2911f7f$</string>
            <key>textureFileName</key>
            <string>20002_skill.png</string>
        </dict>
    </dict>
</plist>
