<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20002_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,174},{220,162}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,185},{220,162}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,170}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,189},{214,170}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,512},{208,178}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,183},{208,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{198,170}}</string>
                <key>offset</key>
                <string>{-13,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,176},{198,170}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{190,176}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,172},{190,176}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{194,170}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,184},{194,170}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,338},{206,172}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,184},{206,172}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,160}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,179},{214,160}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20002_run.png</string>
            <key>size</key>
            <string>{434,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ae7d60090151b5599f7b2b63065ac41$</string>
            <key>textureFileName</key>
            <string>20002_run.png</string>
        </dict>
    </dict>
</plist>
