<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20002_walk_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{234,176}}</string>
                <key>offset</key>
                <string>{14,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,175},{234,176}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_walk_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,186},{236,178}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,180},{236,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_walk_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,366},{242,182}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,174},{242,182}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_walk_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{248,190}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,165},{248,190}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_walk_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,184}}</string>
                <key>offset</key>
                <string>{-22,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,169},{250,184}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_walk_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{246,180}}</string>
                <key>offset</key>
                <string>{-16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,174},{246,180}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_walk_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,550},{242,178}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,173},{242,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_walk_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{236,182}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,169},{236,182}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20002_walk.png</string>
            <key>size</key>
            <string>{496,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf51ee4fd93c9c8971dfe94a9bba916d$</string>
            <key>textureFileName</key>
            <string>20002_walk.png</string>
        </dict>
    </dict>
</plist>
