<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20002_attack_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,214},{222,164}}</string>
                <key>offset</key>
                <string>{-40,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,192},{222,164}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{302,210}}</string>
                <key>offset</key>
                <string>{84,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,149},{302,210}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,194}}</string>
                <key>offset</key>
                <string>{88,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,163},{310,194}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{276,158}}</string>
                <key>offset</key>
                <string>{80,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,200},{276,158}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20002_attack_3.png</string>
            <key>size</key>
            <string>{502,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:792d97069ee5398a8578e23c549088ae$</string>
            <key>textureFileName</key>
            <string>20002_attack_3.png</string>
        </dict>
    </dict>
</plist>
