<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20002_stand_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{204,180}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,180},{204,180}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,544},{210,178}}</string>
                <key>offset</key>
                <string>{32,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,182},{210,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{212,178}}</string>
                <key>offset</key>
                <string>{34,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,182},{212,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,178}}</string>
                <key>offset</key>
                <string>{33,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,182},{214,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{210,178}}</string>
                <key>offset</key>
                <string>{32,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,182},{210,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_stand_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,184},{204,178}}</string>
                <key>offset</key>
                <string>{31,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,182},{204,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_stand_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,364},{200,178}}</string>
                <key>offset</key>
                <string>{30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,182},{200,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20002_stand_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{202,180}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,180},{202,180}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20002_stand.png</string>
            <key>size</key>
            <string>{424,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:173f4b686a48b1d0319250114ddfbc89$</string>
            <key>textureFileName</key>
            <string>20002_stand.png</string>
        </dict>
    </dict>
</plist>
