<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30002_skill_hit_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,762},{490,297}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,81},{490,297}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,333},{496,325}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{496,325}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,435},{494,325}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{494,325}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,333},{494,325}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,47},{494,325}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{494,329}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{494,329}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{496,329}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{496,329}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,660},{492,331}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,43},{492,331}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,431}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{492,431}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{486,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{486,421}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{488,419}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,40},{488,419}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{478,413}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,44},{478,413}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,660},{474,349}}</string>
                <key>offset</key>
                <string>{-7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,110},{474,349}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,993},{460,349}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,107},{460,349}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,1011},{422,327}}</string>
                <key>offset</key>
                <string>{-21,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,123},{422,327}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1061},{394,237}}</string>
                <key>offset</key>
                <string>{-28,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,192},{394,237}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,1011},{288,151}}</string>
                <key>offset</key>
                <string>{-4,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,299},{288,151}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1061},{224,79}}</string>
                <key>offset</key>
                <string>{25,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,335},{224,79}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
            <key>30002_skill_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1273},{20,59}}</string>
                <key>offset</key>
                <string>{110,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,358},{20,59}}</string>
                <key>sourceSize</key>
                <string>{500,459}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30002_skill_hit.png</string>
            <key>size</key>
            <string>{2021,1345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a981cf7e6ceb87bac80538d17c0ed5f5$</string>
            <key>textureFileName</key>
            <string>30002_skill_hit.png</string>
        </dict>
    </dict>
</plist>
