<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30001_skill_hit_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{6,8}}</string>
                <key>offset</key>
                <string>{299,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,99},{6,8}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{6,8}}</string>
                <key>offset</key>
                <string>{299,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,99},{6,8}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{6,8}}</string>
                <key>offset</key>
                <string>{299,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,99},{6,8}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{6,8}}</string>
                <key>offset</key>
                <string>{299,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,99},{6,8}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{6,8}}</string>
                <key>offset</key>
                <string>{299,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,99},{6,8}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{6,8}}</string>
                <key>offset</key>
                <string>{299,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,99},{6,8}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{6,8}}</string>
                <key>offset</key>
                <string>{299,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,99},{6,8}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{6,8}}</string>
                <key>offset</key>
                <string>{299,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,99},{6,8}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1645},{628,192}}</string>
                <key>offset</key>
                <string>{136,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,128},{628,192}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{840,194}}</string>
                <key>offset</key>
                <string>{32,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,129},{840,194}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,820},{822,142}}</string>
                <key>offset</key>
                <string>{-44,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,182},{822,142}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1},{818,198}}</string>
                <key>offset</key>
                <string>{-48,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{818,198}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,842},{802,196}}</string>
                <key>offset</key>
                <string>{-54,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,119},{802,196}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1},{790,218}}</string>
                <key>offset</key>
                <string>{-53,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,79},{790,218}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,820},{770,144}}</string>
                <key>offset</key>
                <string>{-52,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,116},{770,144}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
            <key>30001_skill_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,792},{660,124}}</string>
                <key>offset</key>
                <string>{-87,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,105},{660,124}}</string>
                <key>sourceSize</key>
                <string>{914,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30001_skill_hit.png</string>
            <key>size</key>
            <string>{630,1838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19af9e78ad4221ccd63b22cc636789b5$</string>
            <key>textureFileName</key>
            <string>30001_skill_hit.png</string>
        </dict>
    </dict>
</plist>
