<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,21}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,71},{26,21}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
            <key>blood_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,153},{176,161}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,4},{176,161}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
            <key>blood_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{176,161}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,4},{176,161}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
            <key>blood_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,153},{192,165}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{192,165}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
            <key>blood_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,161},{202,165}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{202,165}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
            <key>blood_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,161},{218,165}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{218,165}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
            <key>blood_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{224,149}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{224,149}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
            <key>blood_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{224,149}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{224,149}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
            <key>blood_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{242,149}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,149}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
            <key>blood_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{244,157}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,157}}</string>
                <key>sourceSize</key>
                <string>{244,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blood.png</string>
            <key>size</key>
            <string>{976,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6919f21ee62ec6bdff1edca163c88aa5$</string>
            <key>textureFileName</key>
            <string>blood.png</string>
        </dict>
    </dict>
</plist>
