<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001_stand_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,186},{122,184}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,268},{122,184}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_stand_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,186},{124,182}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,270},{124,182}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_stand_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{124,182}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,270},{124,182}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_stand_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{124,184}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,268},{124,184}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_stand_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,188},{122,184}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,268},{122,184}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_stand_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,184}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,268},{122,184}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_stand_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,184}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,268},{124,184}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_stand_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{124,182}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,270},{124,182}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20001_stand.png</string>
            <key>size</key>
            <string>{504,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d25bd82030f8c939cffb2f23581eca65$</string>
            <key>textureFileName</key>
            <string>20001_stand.png</string>
        </dict>
    </dict>
</plist>
