<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001_attack_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,172}}</string>
                <key>offset</key>
                <string>{-37,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,281},{126,172}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{126,162}}</string>
                <key>offset</key>
                <string>{-42,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,291},{126,162}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{164,152}}</string>
                <key>offset</key>
                <string>{7,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,300},{164,152}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{108,220}}</string>
                <key>offset</key>
                <string>{-20,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,232},{108,220}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{128,190}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,262},{128,190}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{146,178}}</string>
                <key>offset</key>
                <string>{-20,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,275},{146,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20001_attack_3.png</string>
            <key>size</key>
            <string>{1006,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b49835689ba33e7204687205f556111a$</string>
            <key>textureFileName</key>
            <string>20001_attack_3.png</string>
        </dict>
    </dict>
</plist>
