<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001_attack_5_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{150,174}}</string>
                <key>offset</key>
                <string>{11,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,279},{150,174}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{100,186}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,245},{100,186}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{112,142}}</string>
                <key>offset</key>
                <string>{-6,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,118},{112,142}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{172,142}}</string>
                <key>offset</key>
                <string>{8,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,109},{172,142}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{106,158}}</string>
                <key>offset</key>
                <string>{6,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,159},{106,158}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{130,194}}</string>
                <key>offset</key>
                <string>{49,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,194},{130,194}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,206}}</string>
                <key>offset</key>
                <string>{49,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,191},{110,206}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{126,170}}</string>
                <key>offset</key>
                <string>{-17,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,283},{126,170}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20001_attack_5.png</string>
            <key>size</key>
            <string>{994,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ee92a0262d199ff9b1fe1677ddb74af$</string>
            <key>textureFileName</key>
            <string>20001_attack_5.png</string>
        </dict>
    </dict>
</plist>
