<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,162}}</string>
                <key>offset</key>
                <string>{-22,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,284},{154,162}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,132},{132,164}}</string>
                <key>offset</key>
                <string>{-13,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,287},{132,164}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{130,166}}</string>
                <key>offset</key>
                <string>{-12,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,277},{130,166}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,268},{134,152}}</string>
                <key>offset</key>
                <string>{-16,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,271},{134,152}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{146,164}}</string>
                <key>offset</key>
                <string>{-9,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,280},{146,164}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{128,170}}</string>
                <key>offset</key>
                <string>{-12,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,283},{128,170}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,134},{132,162}}</string>
                <key>offset</key>
                <string>{-11,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,275},{132,162}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,268},{146,152}}</string>
                <key>offset</key>
                <string>{-19,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,275},{146,152}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20001_run.png</string>
            <key>size</key>
            <string>{498,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b36c01cb5c8b076ad74163d8f6e3205$</string>
            <key>textureFileName</key>
            <string>20001_run.png</string>
        </dict>
    </dict>
</plist>
