<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001_attack_4_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,178},{82,172}}</string>
                <key>offset</key>
                <string>{-9,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,277},{82,172}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,696},{88,168}}</string>
                <key>offset</key>
                <string>{-11,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,281},{88,168}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,526},{112,164}}</string>
                <key>offset</key>
                <string>{-32,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,286},{112,164}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{162,164}}</string>
                <key>offset</key>
                <string>{-49,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,288},{162,164}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,174}}</string>
                <key>offset</key>
                <string>{47,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,278},{174,174}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{138,174}}</string>
                <key>offset</key>
                <string>{45,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,277},{138,174}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{96,174}}</string>
                <key>offset</key>
                <string>{24,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,283},{96,174}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_4_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,352},{104,172}}</string>
                <key>offset</key>
                <string>{21,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,284},{104,172}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_4_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{118,174}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,280},{118,174}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20001_attack_4.png</string>
            <key>size</key>
            <string>{250,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1a9415af3c6cf4946a9560e48bfa745$</string>
            <key>textureFileName</key>
            <string>20001_attack_4.png</string>
        </dict>
    </dict>
</plist>
