<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001_hurt_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,178}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,275},{122,178}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_hurt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{120,160}}</string>
                <key>offset</key>
                <string>{-34,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,292},{120,160}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_hurt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{100,140}}</string>
                <key>offset</key>
                <string>{-37,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,312},{100,140}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20001_hurt.png</string>
            <key>size</key>
            <string>{486,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30dda2095182cc4b9c8f7d89eb8f207e$</string>
            <key>textureFileName</key>
            <string>20001_hurt.png</string>
        </dict>
    </dict>
</plist>
