<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001_attack_1_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{134,176}}</string>
                <key>offset</key>
                <string>{-14,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,278},{134,176}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{162,172}}</string>
                <key>offset</key>
                <string>{61,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,283},{162,172}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{150,174}}</string>
                <key>offset</key>
                <string>{46,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,281},{150,174}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>20001_attack_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,176}}</string>
                <key>offset</key>
                <string>{31,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,278},{140,176}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20001_attack_1.png</string>
            <key>size</key>
            <string>{596,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96a312b25144afcc9bfc15fe0abbf4bc$</string>
            <key>textureFileName</key>
            <string>20001_attack_1.png</string>
        </dict>
    </dict>
</plist>
