<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30006_skill_hit_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1926},{78,78}}</string>
                <key>offset</key>
                <string>{-43,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,332},{78,78}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1344},{120,254}}</string>
                <key>offset</key>
                <string>{-44,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,330},{120,254}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,802},{122,224}}</string>
                <key>offset</key>
                <string>{-44,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,312},{122,224}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1028},{118,196}}</string>
                <key>offset</key>
                <string>{-44,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,313},{118,196}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1926},{112,110}}</string>
                <key>offset</key>
                <string>{-45,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,318},{112,110}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1942},{90,92}}</string>
                <key>offset</key>
                <string>{-44,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,326},{90,92}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1424},{226,264}}</string>
                <key>offset</key>
                <string>{-49,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,236},{226,264}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1424},{266,266}}</string>
                <key>offset</key>
                <string>{-46,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,234},{266,266}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1692},{252,248}}</string>
                <key>offset</key>
                <string>{-51,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,245},{252,248}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1692},{202,232}}</string>
                <key>offset</key>
                <string>{-44,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,249},{202,232}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,598},{202,170}}</string>
                <key>offset</key>
                <string>{-40,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,286},{202,170}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1098},{284,222}}</string>
                <key>offset</key>
                <string>{-44,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,260},{284,222}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1098},{422,324}}</string>
                <key>offset</key>
                <string>{-44,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,208},{422,324}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{594,450}}</string>
                <key>offset</key>
                <string>{-44,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,146},{594,450}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,598},{642,498}}</string>
                <key>offset</key>
                <string>{-44,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,132},{642,498}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1480},{820,540}}</string>
                <key>offset</key>
                <string>{38,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,128},{820,540}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{786,634}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,10},{786,634}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1344},{694,626}}</string>
                <key>offset</key>
                <string>{-32,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,12},{694,626}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{782,594}}</string>
                <key>offset</key>
                <string>{-67,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{782,594}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,638},{704,638}}</string>
                <key>offset</key>
                <string>{-60,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{704,638}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
            <key>30006_skill_hit_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{840,550}}</string>
                <key>offset</key>
                <string>{38,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,119},{840,550}}</string>
                <key>sourceSize</key>
                <string>{916,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30006_skill_hit.png</string>
            <key>size</key>
            <string>{2026,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd064d1d22c4da68ef9ba5afd9270a2f$</string>
            <key>textureFileName</key>
            <string>30006_skill_hit.png</string>
        </dict>
    </dict>
</plist>
