<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30003_skill_hit_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1787},{418,35}}</string>
                <key>offset</key>
                <string>{-9,-277}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,558},{418,35}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1787},{480,99}}</string>
                <key>offset</key>
                <string>{-6,-245}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,494},{480,99}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,595},{496,139}}</string>
                <key>offset</key>
                <string>{0,-229}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,458},{496,139}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,593}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{494,593}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{490,593}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{490,593}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,597},{488,593}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{488,593}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{490,593}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{490,593}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1192},{474,593}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{474,593}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1192},{482,593}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{482,593}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{490,593}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{490,593}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{418,591}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,3},{418,591}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,597},{296,591}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,2},{296,591}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
            <key>30003_skill_hit_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1093},{46,65}}</string>
                <key>offset</key>
                <string>{126,-257}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,523},{46,65}}</string>
                <key>sourceSize</key>
                <string>{496,597}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30003_skill_hit.png</string>
            <key>size</key>
            <string>{1454,1888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91f1ea1c2763eb1d4b8a8d1cef6d3b41$</string>
            <key>textureFileName</key>
            <string>30003_skill_hit.png</string>
        </dict>
    </dict>
</plist>
