<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30004_skill_hit_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1624},{504,408}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,41},{504,408}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1216},{506,406}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,42},{506,406}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1420},{506,478}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,0},{506,478}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,832},{586,412}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,40},{586,412}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{740,408}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,41},{740,408}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{824,412}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{824,412}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{884,414}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,38},{884,414}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{918,412}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{918,412}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,804},{762,410}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,40},{762,410}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,412},{726,390}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,50},{726,390}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1928},{670,72}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,205},{670,72}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
            <key>30004_skill_hit_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,832},{556,34}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,237},{556,34}}</string>
                <key>sourceSize</key>
                <string>{918,478}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>30004_skill_hit.png</string>
            <key>size</key>
            <string>{1664,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1f1760a6a55ed0dd527987d17276860$</string>
            <key>textureFileName</key>
            <string>30004_skill_hit.png</string>
        </dict>
    </dict>
</plist>
