<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_fire_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{87,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>loading_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{87,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,38}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>loading_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>loading_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{89,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_fire.png</string>
            <key>size</key>
            <string>{362,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2b62257c43574abdc761534ebc3fce9$</string>
            <key>textureFileName</key>
            <string>loading_fire.png</string>
        </dict>
    </dict>
</plist>
